Yth. {* $row->user_first_name *} {* $row->user_last_name *},<BR /><BR /> 

ILDP Form Anda telah disetujui <BR />
Anda dapat melihatnya di <a href="{* $site_url *}/ildphist">sini</a><BR /><BR /><BR />

Salam,<BR />
HR Learning & Development<BR /><BR />
_____________________________________________<BR /><BR />

Dear {* $row->user_first_name *} {* $row->user_last_name *},<BR /><BR /> 

Your ILDP Form has been approved. <BR />
You can review it <a href="{* $site_url *}/ildphist">here</a>.<BR /><BR /><BR />

Regards, <BR />
HR Learning & Development