Yth. {* $hrrm->user_first_name *} {* $hrrm->user_last_name *},<BR /><BR /> 

ILDP Form {* $row->user_first_name *} {* $row->user_last_name *} ({* $row->user_npk *}) telah disetujui<BR /> 
Anda dapat melihatnya di <a href="{* $site_url *}/ildpapprovalhist">sini</a><BR /> <BR /> <BR /> 

Salam,<BR /> 
HR Learning & Development<BR /> <BR /> 
_____________________________________________________<BR /> <BR /> 

Yth. {* $hrrm->user_first_name *} {* $hrrm->user_last_name *},<BR /><BR /> 

ILDP Form  {* $row->user_first_name *} {* $row->user_last_name *} ({* $row->user_npk *}) has been approved<BR /> 
You can review it <a href="{* $site_url *}/ildpapprovalhist">here</a><BR /> <BR /> <BR /> 

Regards,<BR /> 
HR Learning & Development