Yth. {* $row->user_first_name *} {* $row->user_last_name *}, <BR /><BR /> 

 {* $sess.user_first_name *} {* $sess.user_last_name *} menolak ILDP Form Anda. <BR />
Anda dapat melihat alasan penolakannya di<a href="{* $site_url *}/ildphist">sini</a>. <BR /><BR />
Alasan ditolak : <BR /> {* $reason *}<BR /><BR /><BR />

Salam,<BR />
HR Learning & Development<BR /><BR />
____________________________________________________________________<BR /><BR />

<i>Dear {* $row->user_first_name *} {* $row->user_last_name *}, <BR /><BR /> 

 {* $sess.user_first_name *} {* $sess.user_last_name *} has submitted the ILDP Form, and needs your approval. <BR />
You can review it <a href="{* $site_url *}/ildphist">here</a>. <BR /><BR />
Rejection Reason : <BR /> {* $reason *}<BR /><BR /><BR />

Regards,<BR />
HR Learning & Development</i>