      <script>
      	function chagestatus(id, status)
      	{
      		f_onsubmit("{* $site_url *}/lokasi/changestatus/" + id + "/" + status, "frmtemp", "status"+id, "Updating...", 
      			function(data)
      			{      		
      				document.frmtemp.submit();
      			}
      		);      			
      	}
      </script>
<form id="frmtemp" name="frmtemp" method="post" action="{* $site_url *}/lokasi/">
	<input type="hidden" id="limit" name="limit" value="{* $limit *}" />
	<input type="hidden" id="sortby" name="sortby" value="{* $sortby *}" />
	<input type="hidden" id="orderby" name="orderby" value="{* $orderby *}" />
	<input type="hidden" id="offset" name="offset" value="{* $offset *}" />
</form>

      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>{* $llokasi_list *}</h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Level</a></li>
            <li class="active">Showlist</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div id="msg-content" class="alert alert-danger alert-dismissible" style="display: none;">
                <div id="message"></div>
              </div>
              <div class="box">
                <div class="box-body table-responsive">
                  <p>{* $lheader_list_lokasi *}</p>
                  <div class="mg-btm-10">
                    {* $sort_list_by *} <a href="#" onclick="javascript:sortby('lokasi_kota', 'asc')"{* if $sortby eq 'lokasi_kota' *}class="lite"{* /if *}>{* $lcity *}</a> | <a href="#" onclick="javascript:sortby('lokasi_status', 'asc')"{* if $sortby eq 'lokasi_status' *}class="lite"{* /if *}>{* $status *}</a> | <a href="{* $site_url *}/lokasi/form">{* $date_added *}</a> | <a href="{* $site_url *}/lokasi/export">{* $lexport *}</a>
                  </div>
                  <hr>
                  <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                      <th width="30%"><a href="#" onclick="javascript:sortby('lokasi_kota', 'asc')" class="thead" title="{* $lsort_by_city *}">{* $lcity *}</a></th>
                      <th width="50%"><a href="#" onclick="javascript:sortby('lokasi_alamat', 'asc')" class="thead" title="{* $lsort_by_location *}">{* $llocation *}</a></th>
                      <th><div class="listmain"><a href="#" onclick="javascript:sortby('lokasi_status', 'asc')" class="thead" title="{* $lsort_by_status *}">{* $status *}</a></div></th>
                      <th width="10%">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {* counter start=1 print=false assign="no" *}
                    {* foreach from=$list item=row *}
                    <tr{* if $no%2 eq 1 *} class="odd"{* /if *}>
                    <td class="odd">{* $row->lokasi_kota *}</td>
                    <td class="odd"><a href="{* $site_url *}/lokasi/form/{* $row->lokasi_id *}">{* $row->lokasi_alamat *}</a></td>
                    <td class="odd"><div id="status{* $row->lokasi_id *}"><a href="#" onclick="javascript:chagestatus({* $row->lokasi_id *},{* $row->lokasi_status *})"><img src="{* $base_url *}images/16/{* if  $row->lokasi_status eq 2 *}inactive.png{* else *}active.png{* /if *}" border="0" alt="{* $row->lokasi_status_desc *}" title="{* $row->lokasi_status_desc *}" /></a></div></td>
                    {* if $row->used *}
                    <td>&nbsp;</td>
                    {* else *}
                    <td><a href="{* $site_url *}/lokasi/remove/{* $row->lokasi_id *}" onclick="javascript: return confirm('{* $confirm_delete *}');"><img src="{* $base_url *}images/b_del.gif" width="12" height="12" border="0" /></a></td>
                    {* /if *}
                    </tr>
                    {* counter *}
                    {* /foreach *}
                    </tbody>
                    <tfoot>
                    <tr>
                      <td colspan="5">{* $paging *}</td>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>