<script>
    function chagestatus(id, status) {
        f_onsubmit("{* $site_url *}/level/groupchangestatus/" + id + "/" + status, "frmtemp", "status" + id, "Updating...",
            function (data) {
                document.frmtemp.submit();
            }
        );
    }

    function search_onsubmit(frm) {
        $("#keyword").val(frm._keyword.value);
        document.frmtemp.submit();
        return false;
    }
</script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{* $mylevel->level_name *}</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Level Group</a></li>
            <li class="active">Showlist</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div id="msg-content" class="alert alert-danger alert-dismissible" style="display: none;">
                    <div id="message"></div>
                </div>
                <div class="box">
                    <div class="box-body table-responsive">
                        <div class="mg-btm-10">
                            {* $sort_list_by *} <a href="#" onclick="javascript:sortby('level_group_name', 'asc')"{* if $sortby eq 'level_group_name' *}class="lite"{* /if *}>{* $lname *}</a> | <a href="#" onclick="javascript:sortby('level_group_status', 'asc')"{* if $sortby eq 'level_group_status' *}class="lite"{* /if *}>{* $lstatus *}</a> | <a href="{* $site_url *}/level/groupform/{* $mylevel->level_id *}">{* $date_added *}</a> | <a href="{* $site_url *}/level/exportgroup">{* $lexport *}</a> | <a href="{* $site_url *}/level/importunit">{* $limport *}</a>
                        </div>
                        <div class="mg-btm-10">
                            <form method="post" onsubmit="javascript: return search_onsubmit(this)">
                                <div class="row">
                                    <div class="col-xs-3">
                                        {* $lsearch *} {* $mylevel->level_name *}
                                    </div>
                                    <div class="col-xs-3">
                                        <input class="form-control" type='text' name="_keyword" id="_keyword"
                                               class='formdefault' value="{* $smarty.post.keyword *}">
                                    </div>
                                    <div class="col-xs-3">
                                        <input class="btn btn-primary" type='submit' value=" {* $lsearch *} ">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr>
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                {* if $smarty.post.dialog and $list *}
                                <th width='5%'><input type="checkbox" name="groupall" value="" onclick="javascript:groupall_onclick(this)" />&nbsp;</th>
                                {* /if *}
                                <th><a href="#" onclick="javascript:sortby('level_group_name', 'asc')" class="thead" title="sort topics by code">{* $mylevel->level_name *}</a></th>
                                {* foreach from=$parentlevels item=level *}
                                <th>{* $level->level_name *}</th>
                                {* /foreach *}
                                {* if ! $smarty.post.dialog *}
                                <th width="10%">{* $luser *}</th>
                                <th width="10%"><div class="listmain"><a href="#" onclick="javascript:sortby('level_group_status', 'asc')" class="thead" title="sort by topic STATUS">{* $lstatus *}</a></div></th>
                                <th width="10%">&nbsp;</th>
                                {* else *}
                                <!--<th>{* $mylevel->level_name *}</th>-->
                                {* /if *}
                            </tr>
                            </thead>
                            <tbody>
                            {* counter start=1 print=false assign="no" *}
                            {* foreach from=$list item=row *}
                            <tr{* if $no%2 eq 1 *} class="odd"{* /if *}>
                            {* if $smarty.post.dialog *}
                            <td class="odd"><input type="checkbox" name="group[]" value="{* $row->level_group_id *}" onclick="javascript:group_click(this.checked)"{* if $row->level_group_checked *} checked{* /if *} /></td>
                            {* /if *}
                            {* if ! $smarty.post.dialog *}
                            <td class="odd"><a href="{* $site_url *}/level/groupform/{* $mylevel->level_id *}/{* $row->level_group_id *}">{* $row->level_group_name *}</a></td>
                            {* else *}
                            <td class="odd">{* $row->level_group_name *}</td>
                            {* /if *}
                            {* foreach from=$row->parents item=parent *}
                            <td class="odd">{* $parent->level_group_name *}</td>
                            {* /foreach *}
                            {* if ! $smarty.post.dialog *}
                            <td class="odd"><a href="{* $site_url *}/user/showlist/{* $row->level_group_id *}"><img src="{* $base_url *}images/16/participants.png" border="0" /></a></td>
                            <td class="odd"><div id="status{* $row->level_group_id *}"><a href="#" onclick="javascript:chagestatus({* $row->level_group_id *},{* $row->level_group_status *})"><img src="{* $base_url *}images/16/{* if  $row->level_group_status eq 2 *}inactive.png{* else *}active.png{* /if *}" border="0" alt="{* $row->level_group_status_desc *}" title="{* $row->level_group_status_desc *}" /></a></div></td>
                            {* if $row->used *}
                            <td class="odd">&nbsp;</td>
                            {* else *}
                            <td class="odd"><a href="{* $site_url *}/level/groupremove/{* $row->level_group_id *}" onclick="javascript: return confirm('{* $confirm_delete *}');"><img src="{* $base_url *}images/b_del.gif" width="12" height="12" border="0" /></a></td>
                            {* /if *}
                            {* /if *}
                            </tr>
                            {* counter *}
                            {* /foreach *}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="content-paging">{* $paging *}</div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

<form id="frmtemp" name="frmtemp" method="post" action="{* $site_url *}/level/group/{* $mylevel->level_id *}">
    <input type="hidden" id="limit" name="limit" value="{* $limit *}"/>
    <input type="hidden" id="sortby" name="sortby" value="{* $sortby *}"/>
    <input type="hidden" id="orderby" name="orderby" value="{* $orderby *}"/>
    <input type="hidden" id="offset" name="offset" value="{* $offset *}"/>
    <input type="hidden" id="keyword" name="keyword" value="{* $smarty.post.keyword *}"/>
</form>