<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>PermataBank LMS 2.0 - Learning Topics</title>
<style type="text/css" media="screen">@import url(stylesheets/default.css);</style>
</head>

<body>
<div id="container">

	<!-- Logos and Corporate Identity -->
	<div id="logo">
    <br /><strong>Permata</strong>Bank <strong>LMS </strong>2.0&nbsp;&nbsp; </div>
    
    <!-- Main Navigation -->
	<div id="navbg">
	<div id="navcontainer">
	  <ul id="navlist">
		<li><a href="index.html">Home</a></li>
		<li><a href="#">Your Profile</a></li>
		<li><a href="#">Forum</a></li>
		<li id="active"><a href="topics.html" id="current">Learning Topics</a></li>
		<li><a href="#">Logout</a></li>
	  </ul>
	</div>
    </div>
    
    <!-- LOGIN Name / Active Account -->    
    <div id="login"><a href="account.html" title="account settings" class="lite"><strong>Wisman Tjiardy (</strong>{* $lnpk *}: 11112)</a>
    </div>
    
    <!-- Left Content -->
    <div id="leftnav">
    	<h3>View Options</h3>
    	<div id="actionmenu">
			<ul id="actionlist">
				<li><a href="topics.html" id="active"><img src="images/16/as_preview.png" alt="" width="16" height="16" border="0"> Show Preview</a></li>
                <li><a href="topics_list.html"><img src="images/16/as_list.png" alt="" width="16" height="16" border="0"> Show List</a></li>
                <li><a href="topics_recent.html"><img src="images/16/new.png" alt="" width="16" height="16" border="0"> Recently Added</a></li>
			</ul>
		</div>
</div>
    
    <!-- Main Content -->
    <div id="main">
      <h2>Learning Topics</h2>
      <p><em>Berikut adalah topik-topik pembelajaran yang tersedia dalam Learning Management System PermataBank ini:</em></p>
 					<dl class="def1">
						<dt><a href="topic_detail.html">I-SAFE</a> <img src="images/16/status_sucsess.png" width="16" height="16" alt="You have taken this topic." /></dt>
							<dd>I-SAFE Information Security Awareness Game <img src="images/16/status_sucsess.png" width="16" height="16" alt="You have taken this topic." /></dd>
							<dd>Category: <strong>Information Technology</strong></dd>
					  <dd>Permainan yang membawa Anda mengikuti perjalanan Jojo mencari barang-barang nya yang hilang. Permainan ini mengajarkan pentingnya dan metode pencegahan hilangnya informasi di PermataBank. <br>
						<a href="topic_detail.html">read detail</a></dd>
						<dt><a href="ins_educations_detail.html">KYC</a></dt>
							<dd>Know Your Customer</dd>
							<dd>Category: <strong><a href="#">Procedures</a></strong></dd>
					  <dd>Perpaduan teknik kontrol, teknik drive, teknik pengaturan dan sensor untuk aplikasi industri dengan menggunakan kontrol digital, 
							microprocessor, microcontroller dan komputer, serta elektronik diskrit (analog dan linier).<br>
						<a href="topic_detail.html">read detail</a></dd>
						<dt><a href="ins_educations_detail.html">Kode Etik </a><img src="images/16/status_sucsess.png" width="16" height="16" alt="You have taken this topic." /></dt>
							<dd>Kode Etik Perilaku Karyawan PermataBank <img src="images/16/status_sucsess.png" width="16" height="16" alt="You have taken this topic." /></dd>
							<dd>Category: <strong><a href="#">Softskills</a></strong></dd>
					  <dd>Pengembangan dan pemeliharaan sistem informasi berbasis komputer pada lingkungan bisnis dan manufaktur. Perkuliahan difokuskan pada bidang Network & Multimedia.<br>
						<a href="topic_detail.html">read detail</a></dd>
						<dt><a href="ins_educations_detail.html">OpRisk</a></dt>
							<dd>Basic Overview on Operational Risk Management and Assurance Framework (ORMAF)</dd>
							<dd>Category: <strong><a href="#">Procedures</a></strong></dd>
					  <dd>Memadukan Bidang Konstruksi mesin, teknik elektro dan informatika dalam satu sistem aplikasi peralatan-peralatan mekatronika<br>
						<a href="topic_detail.html">read detail</a></dd>
					
                    
                    <dt>&nbsp;</dt>
							<dd>&nbsp;</dd>
							<dd><a href="#"><< prev</a> | <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> | <a href="#">next >></a> </dd>
                    </dl>
                    <br />
</div>
    
    
    
    <!-- Copyright Sections -->
	<div class="lite" id="copy">
    Powered by <a href="http://www.netpolitan.com" title="Netpolitan Creative Content" target="_blank">NCC</a>. <br />
  &copy; Copyright  2010 PermataBank. All rights reserved. </div>
</div>
    
    
</div>
</body>
</html>
