<script type="text/javascript" src="{*$base_url*}js/datetimepicker.js"></script>
<script>
	function frmbanksoal_onchange()
	{
		$("#message").html("Submitting...");
		return true;
	}
	
	function setErrorMessage(err)
	{
		$("#message").html(err);
	}
	
	function showPreview(id)
	{
		$("#message").html("loading preview...");
		$.post("{* $site_url *}/banksoal/showpreview/" + id, {},
			function (data)
			{
				$("#preview").html(data);
				$("#message").html("");
			}
		);
	}	
	
	function save()
	{
		return f_onsubmit("{* $site_url *}/banksoal/save/{* $type *}", "frmbanksoal", "message", "Saving...",
			function(data)
			{
				$("#message").html("{* $ok_save_banksoal *}");
				setTimeout('location = "{* $site_url *}/banksoal/{* $type *}"', {* $flashtime *});
			}
		);		
	}	
</script>

<style>
    input[type="radio"] {
        margin-right: 10px;
    }
    input[type="text"] {
        width: 80%;
    }
</style>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {* $lbanksoal_form_training *}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Bank Soal</a></li>
            <li class="active">Form Training</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body table-responsive">
                        <form name="frmbanksoal" id="frmbanksoal" method="post" enctype="multipart/form-data" action="{* $site_url *}/banksoal/preview/{* $type *}" onsubmit="javascript: return frmbanksoal_onchange()" target="iframe_banksoal">
                            <table width="100%">
                                <tr>
                                    <td><table class="table">
                                        {* if $edit *}
                                        <tr>
                                            <td width="200">
                                                &nbsp;&nbsp;ID</td>
                                            <td>:</td>
                                            <td>{* $banksoal.banksoal_id *} </td>
                                        </tr>
                                        {* /if *}
                                        <tr>
                                            <td>
                                                * {* $lbanksoal_name *}</td>
                                            <td width="1">:</td>
                                            <td><input type='text' name="name" id="name" class='formdefault' value="{* $banksoal.banksoal_name *}" maxlength='100'></td>
                                        </tr>
                                        {* if ! $edit *}
                                        <tr>
                                            <td>
                                                * {* $lfile *}</td>
                                            <td width="1">:</td>
                                            <td><input type='file' name="userfile" id="userfile" class='formdefault' value=""></td>
                                        </tr>
                                        {* /if *}
                                        <tr>
                                            <td>* {* $status *}</td>
                                            <td>:</td>
                                            <td><select name="status" id="status">
                                                <option value="1" {* if $banksoal.banksoal_status eq 1 *}selected{* /if *}>
                                                {* $active *}
                                                </option>
                                                <option value="2" {* if $banksoal.banksoal_status eq 2 *}selected{* /if *}>
                                                {* $inactive *}
                                                </option>
                                            </select></td>
                                        </tr>

                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td><div id="message"></div></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td><input type="submit" value=" Preview " /></td>
                                        </tr>
                                    </table></td>
                                </tr>
                            </table>
                            <div id="preview"></div>
                        </form>
                        <iframe id="iframe_banksoal" name="iframe_banksoal" src="" style="width:800px;height:300px;border:1px solid #fff;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>