<link type="text/css" href="{*$base_url*}js/jquery-ui-1.7.2.custom/development-bundle/themes/base/ui.all.css" rel="stylesheet" /> 
<script type="text/javascript" src="{*$base_url*}js/jquery-ui-1.7.2.custom/development-bundle/external/bgiframe/jquery.bgiframe.js"></script> 
<script type="text/javascript" src="{*$base_url*}js/jquery-ui-1.7.2.custom/development-bundle/ui/ui.core.js"></script> 
<script type="text/javascript" src="{*$base_url*}js/jquery-ui-1.7.2.custom/development-bundle/ui/ui.draggable.js"></script> 
<script type="text/javascript" src="{*$base_url*}js/jquery-ui-1.7.2.custom/development-bundle/ui/ui.resizable.js"></script> 
<script type="text/javascript" src="{*$base_url*}js/jquery-ui-1.7.2.custom/development-bundle/ui/ui.dialog.js"></script>       
      <script>
	  $(document).ready(
	  	function()
	  	{	
			$("#dialog1").dialog(
				{ 
					autoOpen: false 
					,modal: true
					,width: 160
				}
			) 						
		}
	);     
	
	
	function salah(qid, aid)
	{
		$.post("{* $site_url *}/banksoal/wronganswertraining/", {qid: qid, aid: aid, t: 2},
			function(data)
			{			
				$("#dialogcontent").html(data);
				$("#dialog1").dialog("open");
			}	
		);	
	} 
      </script>
      <h2>{* $lhistory *} &quot;{* $banksoal->banksoal_name *}&quot;</h2>
        <br />
      <!--
      {* $sort_list_by *} <a href="#" onclick="javascript:sortby('banksoal_name', 'asc')"{* if $sortby eq 'banksoal_name' *}class="lite"{* /if *}>NAME</a> | <a href="#" onclick="javascript:sortby('banksoal_status', 'asc')"{* if $sortby eq 'banksoal_status' *}class="lite"{* /if *}>{* $status *}</a> | <a href="{* $site_url *}/banksoal/form/{* $banksoal_type *}">{* $date_added *}</a>      </p>
      -->
      <form id="frmhist" action="{* $site_url *}/banksoal/historytraining/{* $banksoal->banksoal_id *}/export" method="post">      	
      <table width="100%" cellpadding="3" class="tablelist">
        <thead>
        	 <tr>
            	<td colspan="8"><input type="submit" value="Export" /></td>
          </tr>
          <tr>
            <th width="5%">{* $lno *}</th>            
            <th>{* $lquestion *}</th>
            <th width="10%">{* $lanswer *}</th>
            <th width="10%">{* $lshown *}</th>
            <th width="10%">{* $lright_answered *}</th>
            <th width="10%">{* $lwrong_answered *}</th>
          </tr>
          {* counter start=1 print=false assign="no" *}
          {* foreach from=$hist item=h *}
          <tr{* if $no%2 eq 1 *} class="odd"{* /if *}>          
            <td class="odd">{* $no *}</td>
            <td class="odd">
            	{* $h.data[0]->banksoal_question_quest *}
            	{* foreach from=$h.data item=a *}
            	<br />
            	{* $a->banksoal_answer_order_alpha *}. {* $a->banksoal_answer_text *}
            	{* /foreach *}
            </td>            
            <td class="odd">
            	{* foreach from=$h.data item=a *}
            		{* if $a->banksoal_question_answer_alpha *}{* $a->banksoal_question_answer_alpha *}{* /if *}
            	{* /foreach *}
            </td>
            <td class="odd">{* $h.shown *}</td>
            <td class="odd">{* $h.right *}</td>
            {* if $h.wrong *}
            <td class="odd"><a href="javascript:salah({* $h.data[0]->banksoal_question_id *}, {* $h.data[0]->banksoal_question_answer *})">{* $h.wrong *}</a></td>
            {* else *}
            <td class="odd">{* $h.wrong *}</td>
            {* /if *}            
          </tr>          	
          	{* counter *}
          {* /foreach *}          
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            	<td colspan="8"><input type="submit" value="Export" /></td>
          </tr>
        </tfoot>        
      </table>
      </form>
<br />
<div id="dialog1" title="{* $lwrong_answered *}" style="display: none;"> 	
	<div id="dialogcontent"></div>
</div>