	<link type="text/css" href="{*$base_url*}js/jquery-ui-1.7.2.custom/development-bundle/themes/base/ui.all.css" rel="stylesheet" /> 
	<script type="text/javascript" src="{*$base_url*}js/jquery-ui-1.7.2.custom/development-bundle/external/bgiframe/jquery.bgiframe.js"></script> 
	<script type="text/javascript" src="{*$base_url*}js/jquery-ui-1.7.2.custom/development-bundle/ui/ui.core.js"></script> 
	<script type="text/javascript" src="{*$base_url*}js/jquery-ui-1.7.2.custom/development-bundle/ui/ui.draggable.js"></script> 
	<script type="text/javascript" src="{*$base_url*}js/jquery-ui-1.7.2.custom/development-bundle/ui/ui.resizable.js"></script> 
	<script type="text/javascript" src="{*$base_url*}js/jquery-ui-1.7.2.custom/development-bundle/ui/ui.dialog.js"></script> 	
	<script>
      	function remove(i)
      	{
      		if (! confirm("{* $confirm_delete *}"))
      		{
      			return;
      		}
      	
      		$("#rowsoal"+i).hide();
      		getelementnth(document.frmbanksoal, "status[]", i-1, 2);
      		
		{* if $banksoal_id *}
		      	
		f_onsubmit("{* $site_url *}/banksoal/removesoal/{* $banksoal_id *}_"+i, "frmbanksoal", "messagesoal", "Removing...",
			function(data)
			{
				$("#messagesoal").html("");
				onload();				
			}
		);	
		
		{* /if *}      		
      	}
      	
      	function add()
      	{
			$.post("{* $site_url *}/banksoal/showdlgaddsoal", {banksoalid: "{* $banksoal_id *}" ,istraining: 1},
				function(data)
				{
					$("#dialogquestcontent").html(data);
					
					$("#dialogquest").dialog('option', 'title', '{* $ladd_soal*} ');
					$("#dialogquest").dialog("open");		
				}
			);
      	}
      	
      	function addbyimport()
      	{
			$.post("{* $site_url *}/banksoal/showdlgaddsoalbyimport", {banksoalid: "{* $banksoal_id *}" ,istraining: 1},
				function(data)
				{
							$("#dialogquestcontent").html(data);
							
							$("#dialogquest").dialog('option', 'title', '{* $ladd_soal*} ');
							$("#dialogquest").dialog("open");		
				}
			);
      	}
      	
      	function edit(i)
      	{      		
 			$.post("{* $site_url *}/banksoal/showdlgsoal", {banksoalid: i, istraining: 1},
 				function(data)
 				{
 					$("#dialogquestcontent").html(data);
 					$("#dialogquest").dialog('open');
 				}
 			);      				      		      		
      	}
      	
      	function changestatussoal(id)      	
      	{
			$.post("{* $site_url *}/banksoal/changestatussoal", {id: id},
				function(data)
				{
					$("#status_"+id).html(data);
      				}
      			);
      	}
 
      	$(function()
      	{
		$("#dialogquest").dialog(
			{ 
				autoOpen: false 
				,modal: true
				,width: 550
			}
		)      	
      	});
      	
      	var pEdit = -1;
      </script>
	<input type="hidden" name="_pertanyaan" id="_pertanyaan" />
	<input type="hidden" name="_jawaban" id="_jawaban" />
	{* counter start=1 print=false assign="no" *}
	{* foreach from=$questcodes item=code *}
		<input type="hidden" name="_pilihan[]" id="_pilihan{* $no *}" />
	{* counter *}
	{* /foreach *}

    <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="2%">{* $lno *}</th>
            <th width="30%">{* $lquestion *}</th>
            <th width="4%">{* $lanswer *}</th>
            {* foreach from=$questcodes item=code *}
            <th>{* $code *}</th>
            {* /foreach *}      
            {* if $banksoal_id *}
            <th width="10%">&nbsp;</th> 
            <th width="2%">&nbsp;</th>     
            <th width="2%">&nbsp;</th>
            {* /if *}
          </tr>
          </thead>
          <tbody id="bodybanksoal>
          {* counter start=1 print=false assign="no" *}
          {* foreach from=$list item=row *}
          <tr{* if $no%2 eq 1 *} class="odd"{* /if *} id="rowsoal{* $no *}">          	
            <td class="odd">{* $no *}</td>
            <td class="odd"><div id="soalke{* $no *}"><a href="javascript:edit({* $row.soalid *})">{* $row.soal *}</a></div></td>
            <td class="odd"><div id="jawabanke{* $no *}">{* $row.jawaban *}</div></td>
            {* assign var="j" value="1" *}
            {* foreach from=$row.pilihan item=pilihan *}
            <td class="odd"><div id="pilihanke{* $no *}_{* $j *}">{* $pilihan *}</div></td>
            {* assign var="j" value=$j+1 *}
            	<input type="hidden" name="status[]" id="status{$no}" value="1" />
          	<input type="hidden" name="no[]" value="{* $row.no *}" />
          	<input type="hidden" name="soal[]" value="{* $row.soal *}" />
          	<input type="hidden" name="jawaban[]" value="{* $row.jawaban *}" />            
            	<input type="hidden" name="pilihan[]" value="{* $pilihan *}" />
            {* /foreach *}
            {* if $banksoal_id *}
            <td class="odd"><a href="javascript:changestatussoal({* $row.soalid *})"><span id="status_{* $row.soalid *}">{* $row.status_desc *}</span></a></td>
            	{* if $row.totexam eq 0 *}
            <td class="odd"><a href="javascript:edit({* $row.soalid *})"><img src="{* $base_url *}images/b_edit.gif" width="12" height="12" border="0" title="{* $ledit*}"/></a></td>
            <td class="odd"><a href="javascript:remove({* $no *})"><img src="{* $base_url *}images/b_del.gif" width="12" height="12" border="0" title="{* $ldelete *}"/></a></td>
            	{* else *}
            <td class="odd">&nbsp;</td>	
            <td class="odd">&nbsp;</td>	
            	{* /if *}
            {* /if *}
          </tr>          	
          	{* counter *}
          {* /foreach *}  
          <tr>
          	<td colspan="{* $ncol+2 *}">&nbsp;</td>
          </tr>
          <div id="tbody"></div>                       
        </tbody>
	{* if ! $banksoal_id *}
        <tfoot>
          <tr>
            	<td colspan="{* $ncol+2 *}">
            		<input type="button" value=" Save " onclick="javascript:save()" />
            	</td>
          </tr>
        </tfoot> 
        {* else *}       
        <tfoot>
          <tr>
            	<td colspan="{* $ncol+3 *}">
            		<input type="button" value=" Add " onclick="javascript:add()" />
            		<input type="button" value=" Import " onclick="javascript:addbyimport()" />
            	</td>
          </tr>
        </tfoot> 
        
        {* /if *}
      </table>
