      <script>
      	<!--
		$(document).ready(
			function()
			{						
			}
		);  
		
      		function removeunitsoal(id)
      		{
      			if (! confirm('{* $confirm_delete *}'))
      			{
      				return;
      			}
      			
      			$.post("{* $site_url *}/banksoal/removeunitsoal/", {id: id},
      				function (data)
      				{
      					loadunitrefresh();
      				}
      			);
      		}
      		
      		function addunitsoal()
      		{      			
      			$("#dialog").dialog('open');      			
      			$("#unitsoalname").val("");
			$("#trunitsoalname").show();
			$("#unitsoalid").val("");
      		}
      		
		function importsoal4unit(unitsoal)
                {
                        $("#dialog").dialog('open');
                        $("#unitsoalname").val("");
			$("#trunitsoalname").hide();
			$("#unitsoalid").val(unitsoal);
                }


		function loadunitsoaldetail(id)
		{
			{* foreach from=$list item=row *}
			$("#banksoalunit1{* $row->banksoal_unit_id *}").css("background-color", "#ffffff");
			$("#banksoalunit2{* $row->banksoal_unit_id *}").css("background-color", "#ffffff");
			$("#banksoalunit3{* $row->banksoal_unit_id *}").css("background-color", "#ffffff");
			$("#banksoalunit4{* $row->banksoal_unit_id *}").css("background-color", "#ffffff");
			{* /foreach *}
			$.post("{* $site_url *}/banksoal/unitsoaldetail/", {id: id},
				function (data)
				{
					$("#banksoalunit1"+id).css("background-color", "#cecece");
					$("#banksoalunit2"+id).css("background-color", "#cecece");
					$("#banksoalunit3"+id).css("background-color", "#cecece");
					$("#banksoalunit4"+id).css("background-color", "#cecece");				
					$("#dvunitsoaldetail").html(data);		
				}
			);
		}      		
      	-->
      </script>
      <h2>{* $lunit_soal *}</h2>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="50%">{* $lunit_soal_name *}</th>
            <!--<th width="20%">{* $ljumlah_soal *}</th>-->
		<th width="10%">&nbsp;</td>
            <th width="10%">&nbsp;</th>
          </tr>
         </thead>
         <tbody>
          {* counter start=1 print=false assign="no" *}
          {* foreach from=$list item=row *}
          <tr{* if $no%2 eq 1 *} class="odd"{* /if *}">
            <td class="odd" id="banksoalunit1{* $row->banksoal_unit_id *}"><a href="javascript:loadunitsoaldetail({* $row->banksoal_unit_id *})">{* $row->banksoal_unit_name *}</a></td>
            
		<td id="banksoalunit4{* $row->banksoal_unit_id *}"><a href="#" onclick="javascript:importsoal4unit({* $row->banksoal_unit_id *})">{* $ladd_soal*}</a></td>
		{* if $totexam eq 0 *}
            <td id="banksoalunit3{* $row->banksoal_unit_id *}"><a href="javascript: removeunitsoal({* $row->banksoal_unit_id *})"><img src="{* $base_url *}images/b_del.gif" width="12" height="12" border="0" /></a></td>
            {* else *}
            <td id="banksoalunit3{* $row->banksoal_unit_id *}">&nbsp;</td>
            {* /if *}
          </tr>          	
          	{* counter *}
          {* /foreach *}                          
        </tbody>
        <!--<tfoot>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><input type="button" value=" {* $ladd_unit_soal *} " onclick="javascript:addunitsoal()" />
          </tr>         
        </tfoot>-->
      </table>
     <div id="dvunitsoaldetail"></div>
