<aside class="main-sidebar" style="background-color: #243d56;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="{* if ($page eq "user" and $subpage eq "admin_news") *}
            active{*/if*}"><a href="{* $site_url *}/user/admin_news" ><i class="fa fa-th"></i> <span>{* $list_news *}</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
