<script type="text/javascript" src="{*$base_url*}js/datetimepicker.js"></script>
<script>
	function frmdirectorat_onchange()
	{
		return f_onsubmit("{* $site_url *}/directorat/save/{* $edit *}", "frmdirectorat", "message", "Saving...",
			function(data)
			{
				$("#message").html("{* $ok_save_directorat *}");
				location = "{* $site_url *}/directorat";
			}
		);				
	}	
</script>
<form name="frmdirectorat" id="frmdirectorat" onsubmit="javascript: return frmdirectorat_onchange()">
  <table width="100%">
    <tr>
      <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="tb_data">
          <tr>
            <td width="200">{* if $edit *}
ID</td>
            <td>:</td>
            <td>{* $directorat.directorat_id *} </td>
          </tr>
          <tr>
            <td>{* /if *}
{* $directorat_name *}</td>
            <td width="1">:</td>
            <td><input type='text' name="name" id="name" class='formdefault' value="{* $directorat.directorat_name *}"></td>
          </tr>
          <tr>
            <td>{* $status *}</td>
            <td>:</td>
            <td><select name="status" id="status">
              <option value="1" {* if $directorat.directorat_status eq 1 *}selected{* /if *}>
              {* $active *}
              </option>
              <option value="2" {* if $directorat.directorat_status eq 2 *}selected{* /if *}>
              {* $inactive *}
              </option>
            </select></td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><div id="message"></div></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><input type="submit" value=" Submit " />
<input type="reset" value=" Reset " /></td>
          </tr>
      </table></td>
    </tr>
  </table>
</form>