      <script>
      		{* if $show_print eq 1 *}
      		function cetak(id)
      		{
      			$.post("{* $site_url *}/training/printcertificate", {id: id, isajax: 1},
      				function (data)
      				{
      					if (data.err > 0)
      					{
      						location = data.redirect;
      						return;
      					}
      					
      					window.open(data.url, 'materiwin2', 'menubar=no, toolbar=no, location=no, status=no,scrollbars=1 ,width=780,height=590"');
      				}
      				, "json"
      			);
      		}
      		{* /if *}
      		
      		function jawaban(id)
      		{
      			/*window.open('{* $site_url *}/{* $page *}/historyjawaban/'+id, 'jawabanwin'+id, 'menubar=no, toolbar=no, location=no, status=no,scrollbars=1 ,width=780,height=590"');*/
                $.post("{* $site_url *}/{* $page *}/historyjawaban/"+id, {dialog: 1, noheader: 1},
                    function (data)
                    {
                        console.log('test');
                        $("#dialogcontent").html(data);
                        $('#modal-default').modal('show');
                    }
                );
      		}
      </script>

      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
              {* if $sess.asadmin *}
              <h1>{* $lhistory *}: {* $mytraining->training_name *}</h1>
              {* else *}
              <h1>{* $lmypersonal_report *}: {* $mytraining->training_name *}</h1>
              {* /if *}
              <ol class="breadcrumb">
                  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                  <li><a href="#">Training</a></li>
                  <li class="active">History Detail</li>
              </ol>
          </section>

          <!-- Main content -->
          <section class="content">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="box">
                          <div class="box-body table-responsive">
                              {* if $rowuser *}
                              <h3>{* $lnpk *}: {* $rowuser->user_npk *}</h3>
                              {* /if *}
                              <table class="table table-hover table-striped">
                                  <thead>
                                  <tr>
                                      {* if $hasrefreshment *}
                                      <th width="5%">&nbsp;</th>
                                      {* /if *}
                                      <th width="23%">{* $ldate *}</th>
                                      {* if $pageid ne "classroom" *}
                                      <th width="20%">{* $lscore *}</th>
                                      {* if $pageid eq "training" *}
                                      <th width="20%">{* $lactivity *}</th>
                                      {* /if *}
                                      <th>{* $lstatus *}</th>
                                      {* else *}
                                      <th>{* $llokasi *}</th>
                                      {* /if *}
                                      <th>NO NPB</th>
                                      <th>KODE PROG.</th>
                                      <th>DURASI HARI</th>
                                      <th>DURASI JAM</th>
                                      <th width="12%">&nbsp;</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  {* counter start=1 print=false assign="no" *}
                                  {* foreach from=$list item=row *}
                                  <tr{* if $no%2 eq 1 *} class="odd"{* /if *}>
                                  {* if $hasrefreshment *}
                                  {* if $row->isrefreshment *}
                                  <td>R</td>
                                  {* else *}
                                  <td>&nbsp;</td>
                                  {* /if *}
                                  {* /if *}
                                  <td>{* $row->datetime *}</td>
                                  {* if $pageid ne "classroom" *}
                                  <td><a href="javascript:jawaban({* $row->history_exam_id *})">{* $row->score *}</a></td>
                                  {* if $pageid eq "training" *}
                                  <td>{* $row->activity *}</td>
                                  {* /if *}
                                  <td>{* $row->status *}</td>
                                  {* else *}
                                  <td>{* $row->lokasi_alamat *}, {* $row->lokasi_kota *}</td>
                                  {* /if *}
                                  <td>{* $row->history_exam_nonpb *}</td>
                                  <td>{* $row->history_exam_kodeprog *}</td>
                                  <td>{* $row->history_exam_durhari *}</td>
                                  <td>{* $row->history_exam_durjam *}</td>
                                  {* if $row->history_exam_status eq 1 and ($row->history_exam_type eq 2 or $row->history_exam_type eq 3) *}

                                  <td>{* if $show_print eq 1 *}<a href="javascript:cetak({* $row->history_exam_id *})">{* $lcetak *}{* else *} &nbsp; {* /if *}</a>
                                  </td>

                                  {* else *}
                                  <td>&nbsp;</td>
                                  {* /if *}
                                  </tr>
                                  {* counter *}
                                  {* /foreach *}
                                  </tbody>
                                  <tfoot>
                                  <tr>
                                      <td colspan="9">&nbsp;</td>
                                  </tr>
                                  </tfoot>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>

      <div class="modal fade" id="modal-default">
          <div class="modal-dialog">
              <div class="modal-content">
                  <form id="frmexportype">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">History NPK</h4>
                      </div>
                      <div class="modal-body text-center">
                          <div id="dialogcontent"></div>
                      </div>
                      <!--<div class="modal-footer">
                          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                      </div>-->
                  </form>
              </div>
              <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
