<form action="" method="post">
  <table width="100%">
    <tbody>
      <tr>
        <td>
          <h2>Form Edit</h2>
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tb_data">
            <tbody>
              <tr>
                <td width="200">Nama</td>
                <td width="1">:</td>
                <td>
                  <input name="qstr_name" value="{* $detail.qstr_name *}" class="formdefault" required>
                </td>
              </tr>
              <tr>
                <td>Desc</td>
                <td>:</td>
                <td>
                  <textarea name="qstr_desc" class="formdefault">{* $detail.qstr_desc *}</textarea>
                </td>
              </tr>
              <tr>
                <td>Bank Soal</td>
                <td>:</td>
                <td>
                  <select name="qstr_qsbs_id" class="formdefault" required>
                    <option>-- Pilih Bank Soal--</option>
                    {* foreach from=$list_banksoal item=row *}
                    <option value="{* $row->qsbs_id *}" {* if $row->qsbs_id eq $detail.qstr_qsbs_id *}selected{* /if *}>{* $row->qsbs_name *}</option>
                    {* /foreach *}
                  </select>
                </td>
              </tr>
              <tr>
                <td>Disabled ?</td>
                <td>:</td>
                <td>
                  <input type="checkbox" name="qstr_disabled" {* if $detail.qstr_disabled *}checked{* /if *} value="1">
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                  <input type="submit" value="Submit">
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</form>