<table width="100%" cellpadding="3" class="tablelist"> 
	<thead> 
		<tr> 
			<th width="300">{* $lsubmitdate *}</th> 
			<th>{* $lstatus *}</th>
			<th>{* $ldescription *}</th>
		</tr>
	</thead>
	<tbody>
		{* foreach from=$rows item=row *}		
		<tr>
			<td><a href="{* $site_url *}/ildp/myformdetail/{* $row->order_id *}">{* $row->order_date_fmt *}<a/></td>
			<td>{* $row->last_status *}</td>
			<td>{* $row->description *}</td>
		</tr>
		{* /foreach *}
	</tbody>	
	<tfoot>
		<tr>
			<td colspan="3">{* $paging *}</td>
		</tr>
	</tfoot>
	</thead>
</table>